.navbar{
  margin-bottom: 0px;
}
.hode {
  margin-top: 0px;
  height: 400px;
  background-color: black;
  background: url('../pics/skarnsundbrua.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hode h1{
  margin-top: 200px;
  font-size: 80px;
  color: white;
  text-align: center;
  top: 50%;
  vertical-align: middle;


}
html, body{
  min-height: 100%;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {

   .hode h1{ 
      margin-top: 130px;
      font-size: 50px; 
   }
   .hode{
    height: 250px;
   }

}
.kropp {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  max-width: 1200px;


}
.kropp:after {
    content: "";
    display: block;
    clear: both;
}
footer{
  background-color: gray;
  height: 100px;
  position: static;
  bottom:0;
  padding-top: 20px;
  margin-top: 20px;
}

/* HomePage*/
.bokser {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.forskning {
  background: url('../pics/skarnsundbrua.jpg') no-repeat center center; 
  height: 100%;
  max-width: 100%;
  border-radius: 10px;
  padding:1px 20px;
}

.forskning:hover{
  box-shadow: 0 0 4px 4px gray;
}
.post-content {
    max-height: 100%;
}
@media only screen and (max-width: 400px){

  .post-content{
    top:0px;
    font-size: 12px;
  }
  .post-content h1{
    font-size:25px;
  }

}
.post-content h1{
  text-align: center;
}
.col-md-6{
  margin-top: 30px;
  height: 200px;

}
.col-md-6 a{
  width: 100%;
  height: 100%;
  color:white;
}
.col-md-6 a:hover{
  text-decoration:none;
  color:white;
}

/*album Page*/

/* The Modal (background) */

.card img{
  max-width: 400px;
  width: 100%;
  display: block;
  cursor: pointer;

}
.card img:hover{
  opacity: 0.7;
}


.card{
  padding: 10px 10px 10px 10px;
}

.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 0px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  margin-top: 100px;
  display: block;
  vertical-align: middle;
  width: 80%;
  max-width: 1000px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption-tekst {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  text-align: center;
  color: #ccc;
  padding: 10px 15%;
  height: auto;
}
/* The Close Button */
.closer {
    float: right;
    font-size: 70px;
    margin-top: 30px;
    margin-right: 30px;
    color: white;
    opacity: 0.8;
}

.closer:hover,
.closer:focus {
    color: white;
    opacity:0.5;
    text-decoration: none;
    cursor: pointer;
}

/*Knapp for å velge neste/forige bilde*/
.velger{
  font-size: 100px;
  margin-top: 50px;
  color: white;
  opacity: 0.8;
}
.velger:hover,
.velger:focus {
    color: white;
    opacity:0.5;
    text-decoration: none;
    cursor: pointer;
}

.glyphicon-menu-left{
  float: left;
  margin-left: 30px;
}
.glyphicon-menu-right{
  float: right;
  margin-right: 30px;
}


/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}