{% extends 'base.html' %}

{% block content%}
  <div class="kropp">
  {% for element in over %}
    {% if element.image %}

    <div class="col-md-6">
      <h1>{{element.title}}</h1>
      <p>{{element.text}}</p>
    </div>
    <div class="col-md-6">
      <img class="img-responsive img-thumbnail" src="{{ element.image.url }}" alt=" {{ element.title }}"><p class="card-text">{{ element.image_text }}</p></div>'
    </div>
    {% else %}
    <div class="col-md-12">
      <h1>{{element.title}}</h1>
      <p>{{element.text}}</p>
    </div>
    {% endif %}
  {% endfor %}
    <div class="bokser">
    <div class="col-md-6"  href="#">
      <a href="album"><div class="caption post-content forskning">
      <h1>Forskning</h1>
      <p>Forskning i Skarnsundet er veldig bra. Det er mye å forske på for store å små. Noen forsker på fisk. Andre forsker på koraller. Noen forsker til og med på fjordkultur.</p>
      </div></a>
    </div>
    <div class="col-md-6">
      <a href="album"><div class="caption post-content forskning">
      <h1>Forskning</h1>
      <p>Forskning i Skarnsundet er veldig bra. Det er mye å forske på for store å små. Noen forsker på fisk. Andre forsker på koraller. Noen forsker til og med på fjordkultur.</p>
      </div></a>
    </div>
    <div class="col-md-6 ">
      <a href="album"><div class="caption post-content forskning">
      <h1>Forskning</h1>
      <p>Forskning i Skarnsundet er veldig bra. Det er mye å forske på for store å små. Noen forsker på fisk. Andre forsker på koraller. Noen forsker til og med på fjordkultur.</p>
      </div></a>   
    </div>
    <div class="col-md-6 " href="album/index.html">
      <a href="album"><div class="caption post-content forskning">
      <h1>Album</h1>
      <p>Forskning i Skarnsundet er veldig bra. Det er mye å forske på for store å små. Noen forsker på fisk. Andre forsker på koraller. Noen forsker til og med på fjordkultur.</p>
      </div></a>
    </div>
    </div><!--/bokser--> 
    {% for element in under %}
    {% if element.image %}

    <div class="col-md-6">
      <h1>{{element.title}}</h1>
      <p>{{element.text}}</p>
    </div>
    <div class="col-md-6">
      <img class="img-responsive img-thumbnail" src="{{ element.image.url }}" alt=" {{ element.title }}"><p class="card-text">{{ element.image_text }}</p></div>'
    </div>
    {% else %}
    <div class="col-md-12">
      <h1>{{element.title}}</h1>
      <p>{{element.text}}</p>
    </div>
    {% endif %}
    {% endfor %}
  </div><!--/kropp-->

{% endblock content %}