{% extends 'base.html' %}

{% block content%}
  <div class="kropp">
  {% for element in over %}
  <div class='innlegg row'>
        <h1>{{element.title}}</h1>
    {% if element.image %}
    <div class="col-md-6">
      <p class='home-text'>{{element.text|safe}}</p>
    </div>
    <div class="col-md-6">
      <img class="img-responsive img-rounded" src="{{ element.image.url }}" alt=" {{ element.title }}"><p class="card-text">{{ element.image_text }}</p>
      </div>'
    {% else %}
    <div class="col-md-12">
      <p class='home-text'>{{element.text|safe}}</p>
    </div>
    {% endif %}
    </div>
  {% endfor %}
    <div class="bokser row">
    <div class="col-md-6 link-kort"  href="#">
      <a href="album"><div class="caption post-content forskning">
      <h1>Forskning</h1>
      <p>Forskning i Skarnsundet er veldig bra. Det er mye å forske på for store å små. Noen forsker på fisk. Andre forsker på koraller. Noen forsker til og med på fjordkultur.</p>
      </div></a>
    </div>
    <div class="col-md-6 link-kort">
      <a href="album"><div class="caption post-content forskning">
      <h1>Forskning</h1>
      <p>Forskning i Skarnsundet er veldig bra. Det er mye å forske på for store å små. Noen forsker på fisk. Andre forsker på koraller. Noen forsker til og med på fjordkultur.</p>
      </div></a>
    </div>
    <div class="col-md-6 link-kort">
      <a href="album"><div class="caption post-content forskning">
      <h1>Forskning</h1>
      <p>Forskning i Skarnsundet er veldig bra. Det er mye å forske på for store å små. Noen forsker på fisk. Andre forsker på koraller. Noen forsker til og med på fjordkultur.</p>
      </div></a>   
    </div>
    <div class="col-md-6 link-kort">
      <a href="{% url 'site:album' %}"><div class="caption post-content forskning">
      <h1>Album</h1>
      <p>Forskning i Skarnsundet er veldig bra. Det er mye å forske på for store å små. Noen forsker på fisk. Andre forsker på koraller. Noen forsker til og med på fjordkultur.</p>
      </div></a>
    </div>
    </div><!--/bokser--> 
    {% for element in under %}
    <div class='innlegg row'>
      <h1>{{element.title}}</h1>
    {% if element.image %}

    <div class="col-md-6">
      <p class='home-text'>{{element.text|safe}}</p>
    </div>
    <div class="col-md-6 ">
      <img class="img-responsive img-rounded" src="{{ element.image.url }}" alt=" {{ element.title }}"><p class="card-text">{{ element.image_text }}</p>
    </div>
    {% else %}
    <div class="col-md-12">
      <p class='home-text'>{{element.text|safe}}</p>
    </div>
    {% endif %}
    </div>
    {% endfor %}
  </div><!--/kropp-->

{% endblock content %}