{% extends 'base.html' %}

{% block content%}
  <div class="kropp">
    <div class="col-md-12">
      <h1>Indtroduksjon</h1>
      <p>Her kan det stå en liten intruduksjon til siden</p>
      
    </div>
    <div class="bokser">
    <div class="col-md-6"  href="#">
      <a href="album"><div class="caption post-content forskning">
      <h1>Forskning</h1>
      <p>Forskning i Skarnsundet er veldig bra. Det er mye å forske på for store å små. Noen forsker på fisk. Andre forsker på koraller. Noen forsker til og med på fjordkultur.</p>
      </div></a>
    </div>
    <div class="col-md-6">
      <a href="album"><div class="caption post-content forskning">
      <h1>Forskning</h1>
      <p>Forskning i Skarnsundet er veldig bra. Det er mye å forske på for store å små. Noen forsker på fisk. Andre forsker på koraller. Noen forsker til og med på fjordkultur.</p>
      </div></a>
    </div>
    <div class="col-md-6 ">
      <a href="album"><div class="caption post-content forskning">
      <h1>Forskning</h1>
      <p>Forskning i Skarnsundet er veldig bra. Det er mye å forske på for store å små. Noen forsker på fisk. Andre forsker på koraller. Noen forsker til og med på fjordkultur.</p>
      </div></a>   
    </div>
    <div class="col-md-6 " href="album/index.html">
      <a href="album"><div class="caption post-content forskning">
      <h1>Album</h1>
      <p>Forskning i Skarnsundet er veldig bra. Det er mye å forske på for store å små. Noen forsker på fisk. Andre forsker på koraller. Noen forsker til og med på fjordkultur.</p>
      </div></a>
    </div>
    </div><!--/bokser--> 
  </div><!--/kropp-->

{% endblock content %}